html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de
}

figure {
  margin: 0 auto;
}

section {
  max-width: 25em;
  margin: 0 auto;
}

a {
  color: #333;
  text-decoration: none;
  list-style-type: none;
  background-color: #eee9de;
  border: 1px solid #000;
  border-radius: 5px;
  padding: .5em;
}

a:hover {
  background-color: #666;
}
